.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  background-color: #e4e4e4;
}
.button button {
  height: 46px;
  width: 170px;
  border-radius: 6px;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}
.button button:hover {
  background-color: cadetblue;
}
